# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=

# FastAPI
API_HOST=
API_PORT=

# Frontend
FRONTEND_PORT=
VITE_API_URL=
VITE_MAPTILER_KEY=