# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Flight data
FLIGHT_POSITION_TTL_SECONDS=
MAX_SNAPSHOTS=

# FastAPI
API_HOST=
API_PORT=

# Frontend
FRONTEND_PORT=
VITE_API_BASE_URL=
VITE_MAPTILER_KEY=

# Dev
DEV_DUMMY_DATA=false

# Backend
OPENSKY_LOGIN=
OPENSKY_PASSWORD=
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=